<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last Of Us Part II</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <nav>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
        </ul>
    </nav>

    <div class="homebckg">
        <h1>Welcome  to <br> The Last Of Us 2 <br> Game Page </h1>
    </div>

    
</body>
</html>