<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last Of Us Part II - Works</title>
    <link rel="stylesheet" href="/stylesheets/worksstyle.css">
</head>
<body>

    <nav>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
        </ul>
    </nav>

    <div class="ellie">

        <p>Ellie is a character in the video games The Last of Us (2013) and The Last of Us Part II (2020) by Naughty Dog. She is portrayed by Ashley Johnson through motion capture and voice acting; in the upcoming television adaptation, she will be portrayed by Bella Ramsey. In the first game, Joel Miller is tasked with escorting a 14-year-old Ellie across a post-apocalyptic United States in an attempt to create a cure for an infection to which Ellie is immune. While players briefly assume control of Ellie for a portion of the game, the artificial intelligence primarily controls her actions, often assisting in combat by attacking or identifying enemies. Ellie reappeared as the playable character in the downloadable content prequel The Last of Us: Left Behind, in which she spends time with her friend Riley. In Part II, players control a 19-year-old Ellie as she seeks revenge on Abby for Joel's death.

            Ellie was created by Neil Druckmann, the creative director and writer of The Last of Us. Inspired by a mute character proposed for Uncharted 2: Among Thieves, he created her as a strong female character who has a close relationship with Joel; throughout the first game's development, the relationship between Ellie and Joel was the central focus. </p>

    </div>

</body>
</html>