*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image:url('../images/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.menu {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 2%;
    justify-content: space-evenly;
    font-size: 700;
}


.menu a {
    color: whitesmoke;   
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    margin-right: -8%;
    margin-left: -8%;
}

.description{
    width: 80%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

p {
    line-height: 1.7em;
    font-size: 20px;
    margin: 1%;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}